#
# WARNING: This config is managed by ansible using the role uan_sshd
#          Please make modifications using ansible, as manual edits
#          may be lost!!
# 
# Default SUSE/sshd_config with empty-lines and comments removed.
AcceptEnv           LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv           LC_IDENTIFICATION LC_ALL
AcceptEnv           LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AuthorizedKeysFile  .ssh/authorized_keys
PermitRootLogin     yes
Subsystem           sftp /usr/lib/ssh/sftp-server
UsePAM              yes
X11Forwarding       yes
TrustedUserCAKeys   /etc/ssh/trusted-user-ca-keys.pem

# uan_sshd managed changes:
Port                {{ sshd_port }}
{% if sshd_config|length>0 %}{{ sshd_config }}{% endif %}
