<?xml version="1.0" encoding="utf-8"?>
<!--
vim: et sw=4 ts=4

Copyright 2019-2021 Hewlett Packard Enterprise Development LP

    RULES FOR EDITING
    =================

    Recommended editor settings:
        - No hardtabs (spaces used instead of tab characters).
        - Indentation should be 4 spaces.
        - Avoid leaving whitespace at the end of lines.
        - Vi/Vim settings: set et sw=4 ts=4 (auto-set at top of file)

    The following sections lay out the general rules for editing this
    file (General Rules), and working with packages (Package Rules).

    General Rules
    ~~~~~~~~~~~~~
    1. Changes will not be accepted if any rules are violated.

    2. Changes must be tested. That means booting the image on a VM as
    the minimum test. If the change could impact operation specific to
    Shasta hardware, it must be booted on hardware. What to accept will
    be a judgement call by the reviewers.

    3. No hard tabs!

    4. Indentation levels use 4 spaces.

    5. All URLs listed must be to local addresses. No remote addresses
    are allowed. A local address is a cray.com address. If it isn't a
    cray.com address it is a remote address.

    6. If a change is meant to be temporary, provide a comment listing
    the JIRA that identifies when the temporary change will be
    removed or replaced.

    Package Rules
    ~~~~~~~~~~~~~
    1. Add packages to sections. If creating a new section, add a
    comment to 'name' the section:

         SECTION: Analytics Packages

    2. Package sections should be in alphabetical order based on the
    'name' of the section in the comment preceding the packages. Ignore
    case for the ordering.

    3. Packages listed in a section must be in alphabetical order.
    Ignore case for the ordering.

    4. Do not duplicate an existing package. If that package is listed
    in another group of packages that is the one to use. Add a commented
    entry in your group to indicate it is needed by your group in case
    the existing entry is ever removed (see rule #10).

    5. If you remove a package, search for any other group that also
    contains it in a comment and uncomment the first entry you find.
    Reviewers will check if any removed package is listed in a comment
    anywhere and will reject the commit if one is found and none are
    uncommented.

-->
<image schemaversion="6.8" name="cray-shasta-uan-cos-sles15sp2">
    <description type="system">
        <author>Cray Inc</author>
        <contact>keopp@hpe.com</contact>
        <specification>
            Minimal UAN image based on COS
        </specification>
    </description>

    <profiles>
        <profile name="Live" description="Live image" import="true"/>
        <profile name="Virtual" description="Simple Disk image"/>
        <profile name="Disk" description="Expandable Disk image"/>
        <profile name="PXE" description="Example PXE Image"/>
    </profiles>

    <preferences profiles="Live">
	    <type image="iso" flags="overlay" hybrid="true" firmware="efi" kernelcmdline="splash" hybridpersistent_filesystem="ext4" hybridpersistent="true"/>
    </preferences>
    <preferences profiles="Disk">
        <type image="oem" filesystem="ext4" initrd_system="dracut" bootloader="grub2" kernelcmdline="splash console=ttyS0 console=tty0 ignore_loglevel" firmware="bios">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
    <preferences profiles="Virtual">
        <type image="vmx" filesystem="ext4" bootloader="grub2" kernelcmdline="splash" firmware="efi"/>
    </preferences>
    <preferences profiles="PXE">
        <type image="pxe" filesystem="squashfs" boot="netboot/suse-leap42.3"/>
    </preferences>
    <preferences>
        <type image="squashfs" primary="true"/>
        <type image="tbz"/>
        <version>CRAY.VERSION.HERE</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>America/Chicago</timezone>
        <rpm-excludedocs>false</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>

    <users>
        <user password="$2y$12$zIitnBqEOgiB9FtnGIKjyO0wSuqutDKSeCwp8m9dEK4zaS/lnAk/W" home="/root" name="root" groups="root"/>
    </users>

<!-- Repositories are added dynamically based on if the build is in the pipeline (CJE) or on the Shasta system (Shasta) -->
{% for repo in values['repos'] %}
    <!-- {{ repo['details'] }} -->
    <repository type="rpm-md" alias="{{ repo['alias'] }}" priority="{{ repo['priority'] }}" imageinclude="{{ repo['imageinclude'] }}">
        <source path="{{ repo['path'] }}"/>
    </repository>
{% endfor %}

    <!--
    NOTE: XML doesn't allow nested comments the following commands
    are dealing with comments. The dashes were changed to underscore for
    this comment. To use them the underscores must be replaced with
    dashes. Sorry!

        Assuming you have a block of text selected:
        Vim command to prepare commented out packages for sorting:
            s/<!__ \(package .*__>\)/<\1/g
        Vim command for case insensitive sort of a selected block:
            sort i
        Vim command to restore commented out packages after sorting:
            s/<\(package .*__>\)/<!__ \1/g
    -->

    <packages type="image">
        <!-- SECTION: Analytics Base SLES Packages  -->
        <package name="java-1_8_0-openjdk-devel"/>
        <package name="python3"/>

        <!-- SECTION: CDST GUI Packages -->
        <package name="libgcrypt20"/>
        <package name="libgpg-error"/>
        <package name="libopenblas_pthreads0"/>
        <package name="librsvg2"/>
        <package name="munge"/>
        <package name="python3-gobject"/>
        <package name="typelib-1_0-Gtk-3_0"/>

        <!-- SECTION: CSM General Packages -->
        <package name="cfs-state-reporter"/>
        <package name="cfs-trust"/>

        <!-- SECTION: COS General Packages -->
        <package name="cray-bpmcdmod"/>
        <package name="cray-bpmcdmod-kmp-cray_shasta_c"/>
        <package name="cray-cps-dracut"/>
        <package name="cray-craytrace-kmp-cray_shasta_c"/>
        <package name="cray-dvs-compute"/>
        <package name="cray-dvs-devel"/>
        <package name="cray-dvs-dracut"/>
        <package name="cray-dvs-kmp-cray_shasta_c"/>
        <package name="cray-freemem-kmp-cray_shasta_c"/>
        <package name="cray-heartbeat"/>
        <package name="cray-hugepage-setup"/>
        <package name="cray-liborca"/>
        <package name="cray-libxpmem-devel"/>
        <package name="cray-libxpmem0"/>
        <package name="cray-netif-dracut"/>
        <package name="cray-network-dracut"/>
        <package name="cray-node-identity"/>
        <package name="cray-orca"/>
        <package name="cray-overlay-preload"/>
        <package name="cray-power-button"/>
        <package name="cray-spire-dracut"/>
        <package name="cray-squashfs-dracut"/>
        <package name="cray-system-files"/>
        <package name="cray-system-setup-scripts"/>
        <package name="cray-udev-network"/>
        <package name="cray-url-dracut"/>
        <package name="cray-xpmem"/>
        <package name="cray-xpmem-kmp-cray_shasta_c"/>
        <package name="kernel-cray_shasta_c"/>
        <package name="kernel-syms"/>

        <!-- SECTION: COS SHASTA-OS packages -->
        <package name="cray-ckdump-helper"/>
        <package name="cray-cps-utils"/>
        <package name="kdump-spire-watcher"/>

        <!-- SECTION: COS SHASTA-3RD Packages -->
        <package name="acpid"/>
        <package name="cray-libhugetlbfs"/>
        <package name="cray-libhugetlbfs-devel"/>
        <package name="cray-makedumpfile"/>
        <package name="cray-rasdaemon"/>
        <package name="libs3"/>
        <package name="msr-safe"/>
        <package name="msr-safe-kmp-cray_shasta_c"/>
        <package name="msr-tools"/>
        <package name="qlgc-fastlinq-kmp-cray_shasta_c"/>
        <package name="spire-agent"/>
        <package name="syscfg"/>

        <!-- SECTION: GPU Support Packages  -->
        <package name="dkms"/>
        <package name="glu-devel"/>
        <package name="libLLVM7"/>
        <package name="libXext6-32bit"/>
        <package name="libglut3"/>
        <package name="libglvnd-32bit"/>
        <package name="libnuma-devel"/>
        <package name="libvdpau1"/>
        <package name="libvulkan1"/>
        <package name="perl-File-Which"/>
        <package name="x11-tools"/>

        <!-- SECTION: Lustre cray-lustre:cray-2.11:cray_shasta_c Packages -->
        <package name="cray-lnet-dracut"/>
        <package name="cray-lustre-client"/>
        <package name="cray-lustre-client-devel"/>
        <package name="cray-lustre-client-kmp-cray_shasta_c"/>

        <!-- SECTION: Networking Packages  -->
        <package name="cray-network-config"/>
        <package name="libfabric"/>
        <package name="libfabric-devel"/>
        <package name="slingshot-firmware-management"/>
        <package name="slingshot-firmware-mellanox"/>
        <package name="slingshot-utils"/>

        <!-- SECTION: Slingshot Diagnostic package -->
        <package name="cray-diags-fabric"/>

        <!-- SECTION: OFED packages -->
        <package name="cray-shasta-premium-mofed"/>
        <package name="rdma-core"/>
        <package name="rdma-core-devel"/>

        <!-- SECTION: UAN Packages -->
        <package name="cray-switchboard"/>
        <package name="cray-uan-boot-parameters-shasta-uan"/>
        <package name="cray-uan-diagnostics"/>
        <package name="cray-uan-goss"/>
        <package name="cray-uan-load-drivers-shasta-uan"/>

        <!-- SECTION: PE Base SLES Packages -->
        <package name="lua53"/>
        <package name="lua53-luafilesystem"/>
        <package name="lua53-luaposix"/>

        <!-- SECTION: Static UAI Packages  -->
        <package name="craycli"/>
        <package name="cray-uai-util"/>

        <!-- SECTION: SUSE SLES15 Packages -->
        <package name="acpica"/>
        <package name="adwaita-icon-theme"/>
        <package name="at"/>
        <package name="bash"/>
        <package name="bash-completion"/>
        <package name="bc"/>
        <package name="binutils"/>
        <package name="biosdevname"/>
        <package name="bison"/>
        <package name="bridge-utils"/>
        <package name="bzip2"/>
        <package name="checkmedia"/>
        <package name="chrony"/>
        <package name="cmake"/>
        <package name="cpupower"/>
        <package name="curl"/>
        <package name="device-mapper"/>
        <package name="dhcp-client"/>
        <package name="dmidecode"/>
        <package name="dosfstools"/>
        <package name="e2fsprogs"/>
        <package name="ethtool"/>
        <package name="file"/>
        <package name="firewalld"/>
        <package name="flex"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="gcc"/>
        <package name="gcc-c++"/>
        <package name="gcc-fortran"/>
        <package name="gdb"/>
        <package name="git"/>
        <package name="glibc-32bit"/>
        <package name="glibc-devel"/>
        <package name="glibc-devel-static"/>
        <package name="grub2"/>
        <package name="grub2-i386-pc"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="gzip"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="java-1_8_0-openjdk"/>
        <package name="jq"/>
        <package name="kdump"/>
        <package name="kernel-firmware"/>
        <package name="kmod-compat"/>
        <package name="krb5-client"/>
        <package name="less"/>
        <package name="libaio1"/>
        <package name="libcurl-devel"/>
        <package name="libedit0"/>
        <package name="liberation-fonts"/>
        <package name="libfreetype6"/>
        <package name="libgcc_s1-32bit"/>
        <package name="libgdbm4"/>
        <package name="libgfortran4"/>
        <package name="libgif7"/>
        <package name="libglib-2_0-0"/>
        <package name="libgobject-2_0-0"/>
        <package name="libgomp1"/>
        <package name="libgthread-2_0-0"/>
        <package name="libgtk-2_0-0"/>
        <package name="libICE6"/>
        <package name="libidn11"/>
        <package name="libjpeg8"/>
        <package name="libncurses5"/>
        <package name="libnuma1"/>
        <package name="libopenssl-devel"/>
        <package name="libopenssl1_0_0"/>
        <package name="libpango-1_0-0"/>
        <package name="libpciaccess0"/>
        <package name="libpng12-0"/>
        <package name="libprocps7"/>
        <package name="libquadmath0"/>
        <package name="libreadline7"/>
        <package name="libSM6"/>
        <package name="libssh2-1"/>
        <package name="libstdc++-devel"/>
        <package name="libstdc++6"/>
        <package name="libX11-6"/>
        <package name="libXcursor1"/>
        <package name="libXext6"/>
        <package name="libXfixes3"/>
        <package name="libXft2"/>
        <package name="libXinerama1"/>
        <package name="libXmu6"/>
        <package name="libXrandr2"/>
        <package name="libXrender1"/>
        <package name="libxslt"/>
        <package name="libxslt1"/>
        <package name="libXt6"/>
        <package name="lsb-release"/>
        <package name="lvm2"/>
        <package name="m4"/>
        <package name="mailx"/>
        <package name="make"/>
        <package name="man"/>
        <package name="man-pages"/>
        <package name="man-pages-posix"/>
        <package name="mksh"/>
        <package name="net-tools"/>
        <package name="nfs-kernel-server"/>
        <package name="nscd"/>
        <package name="numactl"/>
        <package name="open-iscsi"/>
        <package name="open-lldp"/>
        <package name="openldap2-client"/>
        <package name="openmpi-libs"/>
        <package name="openssh"/>
        <package name="parted"/>
        <package name="patch"/>
        <package name="pciutils"/>
        <package name="perf"/>
        <package name="perl-libwww-perl"/>
        <package name="pkg-config"/>
        <package name="procps"/>
        <package name="psmisc"/>
        <package name="python-gobject2"/>
        <package name="python-gtk"/>
        <package name="python-xml"/>
        <package name="python2-PyYAML"/>
        <package name="python2-requests"/>
        <package name="python3-boto3"/>
        <package name="python3-cairo"/>
        <package name="python3-gobject-Gdk"/>
        <package name="python3-kubernetes"/>
        <package name="python3-numpy"/>
        <package name="python3-PyYAML"/>
        <package name="rpcbind"/>
        <package name="rpm"/>
        <package name="rsync"/>
        <package name="rsyslog"/>
        <package name="shim"/>
        <package name="sssd-ad"/>
        <package name="sssd-krb5"/>
        <package name="sssd-ldap"/>
        <package name="sssd-proxy"/>
        <package name="sssd-tools"/>
        <package name="strace"/>
        <package name="suse-build-key"/>
        <package name="syslinux"/>
        <package name="sysvinit-tools"/>
        <package name="tar"/>
        <package name="tcl"/>
        <package name="tcpdump"/>
        <package name="tcsh"/>
        <package name="termcap"/>
        <package name="time"/>
        <package name="timezone"/>
        <package name="unixODBC"/>
        <package name="unzip"/>
        <package name="vim"/>
        <package name="wget"/>
        <package name="which"/>
        <package name="xauth"/>
        <package name="xorg-x11-fonts"/>
        <package name="xorg-x11-fonts-core"/>
        <package name="xorg-x11-server"/>
        <package name="ypbind"/>
        <package name="zip"/>
        <package name="zsh"/>
        <package name="zypper"/>
    </packages>
    <packages type="iso">
        <package name="dracut-kiwi-live"/>
    </packages>
    <packages type="oem">
        <package name="dracut-kiwi-oem-dump"/>
        <package name="dracut-kiwi-oem-repart"/>
    </packages>
    <packages type="bootstrap">
        <!-- SECTION: Cray Bootstrap Packages -->
        <package name="cray-uan-systemd-presets"/>

        <!-- SECTION: External Bootstrap Packages -->
        <package name="branding-SLE"/>
        <package name="ca-certificates-mozilla"/>
        <package name="cracklib-dict-full"/>
        <package name="filesystem"/>
        <package name="sles-release"/>
        <package name="udev"/>
    </packages>
</image>
