BONDING_MASTER='yes'
BONDING_MODULE_OPTS='mode=802.3ad miimon=100 lacp_rate=fast xmit_hash_policy=layer2+3'
BONDING_SLAVE0='{{ nmn_bond_slave0.stdout }}'
BONDING_SLAVE1='{{ nmn_bond_slave1.stdout }}'
STARTMODE='onboot'
BOOTPROTO='static'
IPADDR='{{ nmn_ip }}/{{node_nmn_cidr | ipaddr("prefix") }}'
ZONE='Do not assign ZONE'
