VLAN_PROTOCOL='ieee802-1Q'
ETHERDEVICE='bond0'
ONBOOT='yes'
STARTMODE='auto'
BOOTPROTO='static'
PREFIXLEN='{{ can_prefix }}'
IPADDR='{{ can_ip }}'
POST_UP_SCRIPT='wicked:post-up/can-up.sh'
POST_DOWN_SCRIPT='wicked:post-down/can-down.sh'
