BOOTPROTO='{{ item.bootproto | default('') }}'
DEVICE='{{ item.device | default('') }}'
DHCP_HOSTNAME='{{ item.dhcp_hostname | default('') }}'
ETHTOOL_OPTS='{{ item.ethtool_opts | default('') }}'
GATEWAY='{{ item.gateway | default('') }}'
HWADDR='{{ item.hwaddr | default('') }}'
IPADDR='{{ item.ipaddr | default('') }}'
MASTER='{{ item.master | default('') }}'
MTU='{{ item.mtu | default('') }}'
PEERDNS='{{ item.peerdns | default('') }}'
PREFIXLEN='{{ item.prefixlen | default('') }}'
SLAVE='{{ item.slave | default('') }}'
STARTMODE='{{ item.startmode | default('') }}'
SRCADDR='{{ item.srcaddr | default('') }}'
USERCTL='{{ item.userctl | default('') }}'
BONDING_MASTER='{{ item.bonding_master | default('') }}'
BONDING_MODULE_OPTS='{{ item.bonding_module_opts | default('') }}'
BONDING_SLAVE0='{{ item.bonding_slave0 | default('') }}'
BONDING_SLAVE1='{{ item.bonding_slave1 | default('') }}'
