VLAN_PROTOCOL='ieee802-1Q'
ETHERDEVICE='{{ uan_can_device }}'
ONBOOT='yes'
STARTMODE='auto'
BOOTPROTO='static'
PREFIXLEN='16'
IPADDR='{{ internal_can_ip }}'
POST_UP_SCRIPT='wicked:post-up/can-up.sh'
POST_DOWN_SCRIPT='wicked:post-down/can-down.sh'