{% if customer_access_gateway is defined %}
default {{ customer_access_gateway }} 255.255.255.255 - table 3
{{ customer_access_metallb_address_pool }} {{ customer_access_gateway }} 255.255.255.255 vlan007
{% endif %}
