{{ nmn_svcs_cidr | ipaddr('network') }} {{ nmn_gateway }} {{ nmn_svcs_cidr | ipaddr('netmask') }} -
{% if mnmn_svcs_cidr is defined %}
{{ mnmn_svcs_cidr | ipaddr('network') }} {{ nmn_gateway }} {{ mnmn_svcs_cidr | ipaddr('netmask') }} -
{% endif %}
