#### {{ ansible_managed }} ####
# Local changes may be deleted

# Allow root logins
+:root:ALL

# LDAP group section
{% for item in uan_ad_groups %}
+:@{{ item.name }}:{{ item.origin }}
{% endfor %}

# Deny access to all remaining accounts
-:ALL:ALL
