#### this file managed by Ansible ####

# Local changes *may* be deleted

[sssd]
  config_file_version = 2
  services = nss, pam
  domains = {{ imported_customer_var.domain }} 

[nss]
  filter_users = root, crayadm
  filter_groups = root

[pam]

[domain/{{ imported_customer_var.domain }}]
  ldap_search_base={{ imported_customer_var.search_base }}
  ldap_uri={% for item in imported_customer_var.ldap_servers %}{{ item }}{{ "," if not loop.last else "" }}{% endfor %}{{''}}
  id_provider = ldap
  auth_provider = ldap
  ldap_tls_reqcert = allow
  ldap_schema = rfc2307
{% if ldap_port != 389 %}
  entry_cache_timeout = 60 
  cache_credentials = true 
  case_sensitive = true 
  enumerate = false 
  ldap_use_tokengroups = false 
{% endif %}
{% if imported_customer_var.ldap_chpass_uri is defined %}
  ldap_chpass_uri={% for item in imported_customer_var.ldap_chpass_uri %}{{ item }}{{ "," if not loop.last else ""}}{% endfor %}{{''}}
{% endif %}
