#
# MIT License
#
# (C) Copyright 2023 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
kind: {{ haproxy_kind|default("DaemonSet") }}
service:
  type: {{ haproxy_service_type|default("LoadBalancer") }}
image:
  repository: {{ third_party_registry }}/docker.io/haproxytech/haproxy-alpine
containerPorts:
  ssh: 22
  http: null
  https: null
  stat: null
config: |
{% if haproxy_config|length>0 %}
{{ haproxy_config|indent(2, true) }}
{% else %}
  global
    log stdout format raw local0
    maxconn 1024

  defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client 36h
    timeout server 36h
    option  dontlognull

  listen ssh
    bind *:22
    balance source
    mode tcp

    option tcp-check
    tcp-check expect rstring SSH-2.0-OpenSSH.*

{% for node in groups['k3s_server'] %}
    server {{ node }} {{ node }}:{{ haproxy_sshd_port }} check inter 10s fall 2 rise 1
{% endfor %}
{% for node in groups['k3s_agent'] %}
    server {{ node }} {{ node }}:{{ haproxy_sshd_port }} check inter 10s fall 2 rise 1
{% endfor %}
{% endif %}
