kind: {{ haproxy_kind|default("DaemonSet") }}
service:
  type: {{ haproxy_service_type|default("LoadBalancer") }}
containerPorts:
  ssh: 22
  http: null
  https: null
  stat: null
config: |
{% if haproxy_config|length>0 %}
{{ haproxy_config|indent(2, true) }}
{% else %}
  global
    log stdout format raw local0
    maxconn 1024

  defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client 36h
    timeout server 36h
    option  dontlognull

  listen ssh
    bind *:22
    balance leastconn
    mode tcp

    option tcp-check
    tcp-check expect rstring SSH-2.0-OpenSSH.*

    server uan01 10.103.11.142:9001 check inter 10s fall 2 rise 1
{% endif %}
