# Copyright 2019-2020 Hewlett Packard Enterprise Development LP
#
# This is a Jinja2 configuration file, used in processing the config-template
# for use on CJE or the Shasta System.
#
# This lists URLs to repositories and groups of repositories.
#
#   RULES FOR EDITING
#   =================
#
#   Recommended editor settings:
#       - No hardtabs (spaces used instead of tab characters).
#       - Indentation should be 4 spaces.
#       - Avoid leaving whitespace at the end of lines.
#       - Vi/Vim settings: set et sw=4 ts=4 (auto-set at top of file)
#
#   The following sections lay out the general rules for editing this
#   file (General Rules), and working with repos (Repo Rules).
#
#   General Rules
#   ~~~~~~~~~~~~~
#   1. Changes will not be accepted if any rules are violated.
#
#   2. Changes must be tested. That means booting the image as
#   the minimum test. If the change could impact operation specific to
#   Shasta hardware, it must be booted on hardware. What to accept will
#   be a judgement call by the reviewers.
#
#   3. No hard tabs!
#
#   4. Indentation levels use 4 spaces.  Lines with a single "-" use one
#   space, to meet yaml syntax requirements
#
#   5. All URLs listed must be to local addresses. No remote addresses
#   are allowed. A local address is a cray.com address. If it isn't a
#   cray.com address, it is a remote address.
#
#   6. If a change is meant to be temporary, provide a comment listing
#   the JIRA that identifies when the temporary change will be
#   removed or replaced.
#
#   Repo Rules
#   ~~~~~~~~~~
#   Repos are listed in the values-{cje,shasta}.yaml.j2 files. Repositories
#   must be added to both files.
#
#   1. Repos are listed in case insensitive alphabetical order
#   according to alias name.
#
#   2. Do not duplicate an existing repo.
#
#   3. If you add a repo, also add a comment line before it that
#   indicates where this repo contents come from and what the repo
#   provides. There are plenty of examples below.
#
#   4. Repo priorities are inverted. The lower number has the higher
#   priority, 1 has precedence over 2. The highest number allowed is 99
#   and the lowest number allowed is 0. Oddly, both 0 and 99 mean 'no
#   priority' so they are the last repo searched for content. If a repo
#   has no specified priority, it is interpreted as 'no priority', the
#   same as 0 and 99.
#
#   5. Priority number 1 is reserved for use by development and must
#   never be allowed to merge into a non-developer branch. The purpose is
#   to provide developers with a mechanism to override any of the
#   content in the recipe repos with a developer defined repo. The
#   priority scheme in use:
#
#       - Priority "1"
#           - Reserved for development use.
#           - Must never be present in a released recipe.
#           - Should only be used in developer bugfix/feature branches.
#       - Priority "2"
#           - UAN Repos (UAN/Application node repos)
#       - Priority "3"
#           - COS Repos
#           - CSM Repos
#       - Priority "4"
#           - SUSE SLE product repos
#           - SUSE SLE update repos
#       - Priority "5"
#           - SUSE SLE backports repos
#
# See vars.sh for definitions of "BLOBLET_*" variables
#vim: et sw=4 ts=4
repos:
-  details: "Slingshot SLES15SP1 CN, DST mirror"
   alias: "slingshot-sles15-sp1-cn"
   priority: "2"
   imageinclude: "true"
   path: "{{ env.BLOBLET_SLINGSHOT }}/rpms/cray-sles15-sp1-cn"
-  details: "Cray UAN SLES15SP1 NCN, DST mirror"
   alias: "cray-uan-sles15-sp1-cn"
   priority: "2"
   imageinclude: "true"
   path: "{{ env.BLOBLET_UAN }}/rpms/cray-sles15-sp1-ncn"
-  details: "Cray COS SLES15SP1 CN, DST mirror"
   alias: "cray-sles15-sp1-cn"
   priority: "3"
   imageinclude: "true"
   path: "{{ env.BLOBLET_COS }}/rpms/cray-sles15-sp1-cn"
-  details: "Cray CSM SLES15SP1 CN, DST mirror"
   alias: "csm-sle-15sp1-compute"
   priority: "3"
   imageinclude: "true"
   path: "{{ env.BLOBLET_CSM }}/rpm/csm-sle-15sp1-compute"
-  details: "Cray SLES15SP1 CN, DST mirror legacy"
   alias: "cray-sles15-sp1-cn-legacy"
   priority: "3"
   imageinclude: "true"
   path: "http://dst.us.cray.com/dstrepo/bloblets/shasta-general/dev/master/rpms/cray-sles15-sp1-cn"
-  details: "SUSE SLE15SP1 backports, DST selections"
   alias: "sle15-sp1-Backports"
   priority: "5"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Backports/SLE-15-SP1_x86_64/standard/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Basesystem"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-Basesystem/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Desktop-Applications"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-Desktop-Applications/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Development-Tools"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-Development-Tools/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-HPC"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-HPC/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Legacy"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-Legacy/"
-  details: "SUSE SLE15SP1 Python2 packages, DST mirror"
   alias: "sle15-sp1-Module-Python2"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-Python2/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Server-Applications"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Module-Server-Applications/"
-  details: "SUSE SLE15SP1 packages, internal mirror"
   alias: "sle15-sp1-Product-SLES"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Product-SLES/"
-  details: "SUSE SLE15SP1 SuSE Enterprise Storage (SES) packages, internal mirror"
   alias: "sle15-sp1-Product-SES6"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/Storage/6"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Product-WE"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Products/SLE-Product-WE/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Basesystem-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Basesystem/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Basesystem-Updates-PTF"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Basesystem-PTF/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Desktop-Applications-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Desktop-Applications/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Development-Tools-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Development-Tools/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-HPC-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-HPC/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Legacy-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Legacy/"
-  details: "SUSE SLE15SP1 Python2 packages, DST mirror"
   alias: "sle15-sp1-Module-Python2-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Python2/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Module-Server-Applications-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Module-Server-Applications/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Product-SLES-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Product-SLES/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-Product-WE-Updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Product-WE/"
-  details: "SUSE SLE15SP1 packages, DST mirror"
   alias: "sle15-sp1-LTSS-updates"
   priority: "4"
   imageinclude: "true"
   path: "{{ env.BLOBLET_OS }}/rpms/sles/15sp1-all/Updates/SLE-Product-SLES/15-SP1-LTSS/"
