# Copyright 2019-2020 Cray Inc.
#
# This is a Jinja2 configuration file, used in processing the config-template
# for use on CJE or the Shasta System.
#
# This lists URLs to repositories and groups of repositories.
#
#   RULES FOR EDITING
#   =================
#
#   Recommended editor settings:
#       - No hardtabs (spaces used instead of tab characters).
#       - Indentation should be 4 spaces.
#       - Avoid leaving whitespace at the end of lines.
#       - Vi/Vim settings: set et sw=4 ts=4 (auto-set at top of file)
#
#   The following sections lay out the general rules for editing this
#   file (General Rules), and working with repos (Repo Rules).
#
#   General Rules
#   ~~~~~~~~~~~~~
#   1. Changes will not be accepted if any rules are violated.
#
#   2. Changes must be tested. That means booting the image on a VM as
#   the minimum test. If the change could impact operation specific to
#   Shasta hardware, it must be booted on hardware. What to accept will
#   be a judgement call by the reviewers.
#
#   3. No hard tabs!
#
#   4. Indentation levels use 4 spaces.  Lines with a single "-" use one
#   space, to meet yaml syntax requirements
#
#   5. All URLs listed must be to local addresses. No remote addresses
#   are allowed. A local address is a cray.com address. If it isn't a
#   cray.com address, it is a remote address.
#
#   6. If a change is meant to be temporary, provide a comment listing
#   the JIRA that identifies when the temporary change will be
#   removed or replaced.
#
#   7. Master branches are named cray/<distro-name>, where <distro-name>
#   describes the release and service pack of the upstream source
#   corresponding to the branch.  At any given time, there may be more
#   than one master branch being developed or maintained.  Check on the
#   #skern-triage channel if your change should be applied to other
#   master branches.

#     *  If yes, make the changes in separate Pull Requests with the
#        same JIRA.  Test each branch separately.  Apply the change in
#        the default master branch first and then merge or cherry-pick
#        into additional branches.
#     *  If no, add a comment to the JIRA explaining the decision.
#
#   Repo Rules
#   ~~~~~~~~~~
#   Repos are listed in the values-{cje,shasta}.yaml.j2 files. Repositories
#   must be added to both files.
#
#   1. Repos are listed in case insensitive alphabetical order
#   according to alias name.
#
#   2. Do not duplicate an existing repo.
#
#   3. If you add a repo, also add a comment line before it that
#   indicates where this repo contents come from and what the repo
#   provides. There are plenty of examples below.
#
#   4. Repo priorities are inverted. The lower number has the higher
#   priority, 1 has precedence over 2. The highest number allowed is 99
#   and the lowest number allowed is 0. Oddly, both 0 and 99 mean 'no
#   priority' so they are the last repo searched for content. If a repo
#   has no specified priority, it is interpreted as 'no priority', the
#   same as 0 and 99.
#
#   5. Priority number 1 is reserved for use by development and must
#   never be allowed to merge into a non-developer branch. The purpose is
#   to provide developers with a mechanism to override any of the
#   content in the recipe repos with a developer defined repo. The
#   priority scheme in use:
#
#       - Priority "1"
#           - Reserved for development use.
#           - Must never be present in a released recipe.
#           - Should only be used in developer bugfix/feature branches.
#       - Priority "2"
#           - UAN Repos (shasta-general UAN/Application node repos)
#       - Priority "3"
#           - SUSE SLE product repos
#           - SUSE SLE update repos
#
#vim: et sw=4 ts=4
blob_tags:
    release/shasta-1.1: "shasta-cd-1.1"
    release/shasta-1.2: "shasta-cd-1.2"
    release/shasta-1.3: "shasta-cd-1.3"
    master: "shasta-cd-repo"
urls:
    blob_url: "http://dst.us.cray.com/dstrepo/{{blob_tags.get(branch)}}/bloblets/"
repos:
 -
    details: "Cray SLES15SP1 NCN, DST mirror"
    alias: "cray-sles15-sp1-ncn"
    priority: "2"
    imageinclude: "true"
    path: "{{urls['blob_url']}}shasta-general/rpms/cray-sles15-sp1-ncn"
 -
    details: "Cray SLES15SP1 CN, DST mirror"
    alias: "cray-sles15-sp1-cn"
    priority: "2"
    imageinclude: "true"
    path: "{{urls['blob_url']}}shasta-general/rpms/cray-sles15-sp1-cn"
 -
    details: "Cray SMA SLES15SP1 CN, DST mirror"
    alias: "cray-sma-sles15-sp1-cn"
    priority: "2"
    imageinclude: "true"
    path: "{{urls['blob_url']}}sma/rpms/cray-sles15-sp1-cn"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Basesystem"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-Basesystem/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Desktop-Applications"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-Desktop-Applications/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Development-Tools"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-Development-Tools/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-HPC"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-HPC/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Legacy"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-Legacy/"
 -
    details: "SUSE SLE15SP1 Python2 packages, DST mirror"
    alias: "sle15-sp1-Module-Python2"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-Python2/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Server-Applications"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Module-Server-Applications/"
 -
    details: "SUSE SLE15SP1 packages, internal mirror"
    alias: "sle15-sp1-Product-SLES"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Product-SLES/"
 -
    details: "SUSE SLE15SP1 SuSE Enterprise Storage (SES) packages, internal mirror"
    alias: "sle15-sp1-Product-SES6"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/Storage/6"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Product-WE"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Products/SLE-Product-WE/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Basesystem-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-Basesystem/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Desktop-Applications-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-Desktop-Applications/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Development-Tools-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-Development-Tools/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-HPC-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-HPC/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Legacy-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-Legacy/"
 -
    details: "SUSE SLE15SP1 Python2 packages, DST mirror"
    alias: "sle15-sp1-Module-Python2-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-Python2/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Module-Server-Applications-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Module-Server-Applications/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Product-SLES-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Product-SLES/"
 -
    details: "SUSE SLE15SP1 packages, DST mirror"
    alias: "sle15-sp1-Product-WE-Updates"
    priority: "3"
    imageinclude: "true"
    path: "{{urls['blob_url']}}os/rpms/sles/15sp1-all/Updates/SLE-Product-WE/"
